.movies__title {
  text-align: center;
  margin: 3.75rem;
  font-weight: 500;
  font-size: 2rem;
}

.movies__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 7.5rem;
}
