.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15%;
  background-color: var(--black);
  width: 100%;
}

.header__logo-container {
  height: 50px;
}

.header__logo {
  height: 100%;
}

.header__nav {
  display: flex;
  gap: 80px;
}
