.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 15%;
  background-color: var(--black);
  width: 100%;
}

.header__logo-container {
  height: 3.12rem;
}

.header__logo {
  height: 100%;
}

.header__nav {
  display: flex;
  gap: 5rem;
}
