.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 1.25rem 15%;
  background-color: var(--black);
  width: 100vw;
}

.header__logo-container {
  height: 3.12rem;
}

.header__logo {
  height: 100%;
}

.header__nav {
  display: flex;
  gap: 5rem;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1.25rem 5%;
  }
  .header__logo-container,
  .header__nav {
    margin: 0 auto;
  }
}
