.not-found {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 5% 15%;
}

.not-found h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  text-align: center;
}

.not-found p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}
